/* 초기화 */
* {
  margin: 0;
  padding: 0;
}
/* 플로팅버튼 */
.toTopScroll {
  position: fixed;
  z-index: 1;
  overflow: hidden;
  right: 5px;
  bottom: 5px;
  background-color: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
/* 탑메뉴 */
.topMenu span a {
  text-decoration: none;
  color: #5a5a5a;
}
.topMenu span a:link {
  color: #5a5a5a;
}
.topMenu span a:hover {
  color: #5a5a5a;
}
.top {
  width: 100%;
  height: 30px;
  color: #777777;
  font-size: 12px;
  font-weight: normal;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
.topMenu {
  width: 90%;
  text-align: right;
  vertical-align: middle;
  line-height: 30px;
}
.topMenu span {
  padding: 5px;
}
/* .topMenu a {
  margin-bottom: 0;
  text-decoration: none;
  color: #777777;
} */
.topMenu .home {
  background-image: url(/img/home01.png);
  background-repeat: no-repeat;
  background-position: -10% -50%;
}
.home > a {
  padding: 0 0 0 22px;
}

/* 네비바의 로그인,회원가입 */
.ljoin {
  border-top: 1px solid rgb(202, 202, 202);
  border-bottom: 1px solid rgb(202, 202, 202);
  padding-top: 5px;
  padding-bottom: 5px;
}
.ljoin a {
  font-size: 12px;
  color: #555555;
}
.ljoin a:hover {
  text-decoration: none;
  color: #555555;
}

/* 네비바의 드롭다운메뉴 */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(17, 14, 14);
  min-width: 120px;
  z-index: 1;
  font-size: 12px;
  margin-top: -3px;
  margin-left: 30px;
}
.dropdown-content a {
  display: block;
  float: none;
  color: white;
  padding: 12px 16px;
  text-decoration: none;
  text-align: left;
  background-color: black;
}
.dropdown-content a:link {
  color: white;
}
.dropdown-content a:hover {
  color: white;
  text-decoration: underline;
}
.dropdown-content a:visited {
  color: white;
}
/* 드롭다운메뉴의 마우스오버시 팝업 */
.dropdown:hover .dropdown-content {
  display: block;
}


/* 캐러셀 */
.carousel_text{
  text-align: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.carousel_text a {
  color: white;
}


/* 섹션2 */
.con_product {
  padding-top: 20px;
  text-align: center;
}
#main_img {
  margin-top: 30px;
  background-color: rgb(243, 243, 243);
}
.main-img img {
  width: 100%;
  margin-bottom: 30px;
}

/* --------------------------------------- */

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 95%;
  width: 95%;
  opacity: 0;
  /* 이미지변환시간 */
  transition: 0.5s ease; 
  background-color: black;
  box-sizing: border-box;
}
.overlay:hover  {
  opacity: 0.7;
}

.overlay1 {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 45%;
  width: 90%;
  opacity: 0;
  /* 이미지변환시간 */
  transition: 0.5s ease; 
  background-color: black;
}
.overlay1:hover  {
  opacity: 0.7;
}
.overlay2 {
  position: absolute;
  top: 284px;
  bottom: 0;
  left: 15px;
  right: 0;
  height: 45%;
  width: 90%;
  opacity: 0;
  /* 이미지변환시간 */
  transition: 0.5s ease; 
  background-color: black;
}
.overlay2:hover  {
  opacity: 0.7;
}

/* --------------------------------------- */
.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
/* --------------------------------------- */


/* 섹션3 */
.business1 {
  text-align: center;
}

.business-cover {
  margin-top: 15px;
  flex: 1 22%;
  overflow: hidden;
  position: relative;
  transition: all 0.2s linear;
  
}

.business-img img{
  width: 100%;  
  height: auto;     
           
}

.business-img:hover {
  transform: scale(1.2, 1.2);
  transition: 0.5s ease; 
}


#section3 a {
  text-decoration: none;
  color: black;
}
#section3 a:visited {
  color: black;
}

/* 섹션4 */
#section4 {
  margin-top: 40px;
  background-image: url('../img/visual01.jpg');
  height:200px;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top: 50px;
  color: white;
}

/* 섹션5 */

#sbtn{
  margin-left: 10px;
 
  display: inline;
}
#sbtn p{
  padding: 10px;
}
#section5 {
  width: 100%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25px;
  padding-top: 25px;
  margin-top: 10px;
  padding-top: 10px;
}
.section5-title {
  margin-top: 20px;
  text-align: center;
}
#section5_left {
  border: 1px solid rgb(227, 218, 218);
  padding-left: 50px;
  padding-top:15px;
  margin-bottom:25px;
}
.section5_right1 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.section5_right2 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.section5_right3 {
  display: flex;
  justify-content: center;
  flex-direction: row;
}

#section5 a {
  color: gray;
  font-size :15px;
}
#section5 a:visited {
  color: gray;
}

.list2 {
  padding: 10px;
}
.list1 {
  border-bottom: 1px solid lightgray;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-right: 10px
}

#qna {
  margin: 0;
  width: 100%;
  height: 150px;
  width:auto;
}

/* 섹션6 */

/* footer */
#footer {
  margin-top: 50px;
  height: auto;
  background-color: #333;
}
.footer3 {
  padding-top: 20px;
  padding-bottom: 20px;
}
#footer1 {
  padding-top: 10px;
  text-align: center;
  font-size: 12px;
  color: white;
  margin: 5px;
  height: 50px;
}
#footer a {
  margin: 5px;
  vertical-align: middle;
  line-height: 50px;
  
}
#footer a:link {
  color: white;
}
#footer a:visited {
  color: white;
}
.footer2{
  color: rgb(211, 211, 211);
}

/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 959px) {
  .con_product {
    padding-top: 20px;
    text-align: center;
  }
  #main_img {
    margin-top: 30px;
    background-color: rgb(243, 243, 243);
  }
  .main-img img {
    width: 100%;
    margin-bottom: 30px;
  }
    /* --------------------------------------- */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 92%;
    width: 92%;
    opacity: 0;
    /* 이미지변환시간 */
    transition: 0.5s ease; 
    background-color: black;
  }
  .overlay:hover  {
    opacity: 0.7;
  }
  
  .overlay1 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 42%;
    width: 84%;
    opacity: 0;
    /* 이미지변환시간 */
    transition: 0.5s ease; 
    background-color: black;
  }
  .overlay1:hover  {
    opacity: 0.7;
  }
  .overlay2 {
    position: absolute;
    top: 180px;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 42%;
    width: 83%;
    opacity: 0;
    /* 이미지변환시간 */
    transition: 0.5s ease; 
    background-color: black;
  }
  .overlay2:hover  {
    opacity: 0.7;
  }
  
  /* --------------------------------------- */
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
 

}


/* 모바일 */
@media screen and (max-width: 767px) and (orientation: portrait) {
  .con_product {
    padding-top: 20px;
    text-align: center;
  }
  #main_img {
    margin-top: 30px;
    background-color: rgb(243, 243, 243);
  }
  .main-img img {
    width: 100%;
    margin-bottom: 30px;
  }
  
  /* --------------------------------------- */
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 15px;
    right: 0;
    height: 94%;
    width: 94%;
    opacity: 0;
    /* 이미지변환시간 */
    transition: 0.5s ease; 
    background-color: black;
  }
  .overlay:hover  {
    opacity: 0.7;
  }
  
  .overlay1 {
    position: absolute;
    top: -2px;
    bottom: 0;
    left: 15px;
    right: 0;
    /* height: 39%; */
    /* width: 89%; */
    opacity: 0;
    /* 이미지변환시간 */
    transition: 0.5s ease; 
    background-color: black;
  }
  .overlay1:hover  {
    opacity: 0.7;
  }
  .overlay2 {
    position: absolute;
    top: 280px;
    bottom: 0;
    left: 15px;
    right: 0;
    /* height: 39%;
    width: 89%; */
    opacity: 0;
    /* 이미지변환시간 */
    transition: 0.5s ease; 
    background-color: black;
  }
  .overlay2:hover  {
    opacity: 0.7;
  }
  
  /* --------------------------------------- */
  .text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  /* product */
  
  /* business */
  
  /* cs */
  
  /* footer */
  
}
