.navbar-nav-scroll{
    max-height:75vh;
    overflow-y:visible;
    margin-left: auto;
}
.navbar-expand-lg{
    margin-right: 2000px;
}
#comp .comtxt{
    text-align: center;
}
.comtxt .txt1{
    margin-top: 10px;
    color: rgb(185, 183, 183);
    font-size: 14px;
}
.imgc >img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}
.img02 > img{
    width: 450px;
    margin-top: 38px;
}
#aside{
    width: 100%;
    background-color: rgb(211, 211, 211);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 30px;
    
}
#aside >img{
    width: 500px; 
    height:auto;
}
#aside > .txt2{
    margin-top: 20px;
    margin-left: 50px;
}
.comlist{
    margin-left: 20px;
}
.comlist >li>span{
    color:red;
}
#vision{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 100px;
    
}

.vitxt >p{
    font-size: 14px;
    color: rgb(185, 183, 183);
}
.vitxt2{
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
}


#vibox{
    display: inline-flex;
    
}
.pt1{
    height: 350px;
    padding-top: 85px;
    background-color: rgb(236, 236, 236);
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(180, 180, 180);
}
.pt2{
    height: 350px;
    padding-top: 85px;
    background-color:  rgb(236, 236, 236);
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(180, 180, 180);
}
.pt3{
    height: 350px;
    padding-top: 85px;
    padding: 80px 15px 50px 15px;
    background-color:  rgb(236, 236, 236);
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(180, 180, 180);
}
.pt4{
    height: 350px;
    padding-top: 85px;
    padding: 80px 15px 50px 15px;
    background-color:  rgb(236, 236, 236);
    box-sizing: border-box;
    margin-right: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(180, 180, 180);
}

.hitxt{
    display: block;
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.hitxt >p{
    font-size: 14px;
    color: rgb(185, 183, 183);
}
.since1{
    display: flex;
    margin-left:110px;
    margin-top: 60px;
    margin-bottom: 50px;
}
.sintxt{
    display: flex;
    flex-flow:column;
    text-align:justify;
    margin-left:50px;
    font-size: 16px;
    
}
/* 테블릿 */
@media screen and (min-width: 768px) and (max-width: 959px) {
    .img02 > img{
        width: 100%;
        margin-top: 38px;
    }
    .txt2 >h1{
        font-size: 30px;
    }
    .txt2 >p{
        font-size: 15px;
    }
    #aside {
       padding: 30px;
      }
    #aside >.txt2{
        margin-left: -4px;
        display: flex;
        flex-flow: wrap;
       
    }
    #vibox{
        display: inline-block;
        padding: 10px;
    }
    .pt1{
        margin-bottom:40px;
        padding: 50px 15px 50px 15px;
    }
    .pt2{
        margin-bottom:40px;
        padding: 50px 15px 50px 15px;
    }
    .pt3{
        margin-bottom:40px;
        padding: 50px 15px 50px 15px;
    }
    .pt4{
        margin-bottom:40px;
        padding: 50px 15px 50px 15px;
    }
    .since1{
        margin: 0;
    }

}
@media screen and (max-width: 767px) and (orientation: portrait) {
    .img02 > img{
        width: 100%;
        margin-top: 38px;
    }
    .txt2 >h1{
        font-size: 30px;
    }
    .txt2 >p{
        font-size: 15px;
    }
    #aside {
       padding: 30px;
      }
    #aside >.txt2{
        margin-left: -4px;
        display: flex;
        flex-flow: wrap;
       
    }
    #vibox{
        display: inline-block;
        padding: 10px;
    }
    
    .pt1{
        margin-bottom:40px;
        padding: 50px 15px 50px 15px;
    }
    .pt2{
        margin-bottom:40px;
        padding: 50px 15px 50px 15px;
    }
    .pt3{
        margin-bottom:40px;
        padding: 50px 15px 50px 15px;
    }
    .pt4{
        margin-bottom:40px;
        padding: 50px 15px 50px 15px;
    }
    .since1{
        margin: 0;
    }

}